body {
  width: 97vw;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}


li.list-group-item {
  color: #343a40;
  background-color: whitesmoke;
}

li.list-group-item:hover {
  cursor: pointer;
  background-color: #343a40;
  color: whitesmoke;
}